In [ ]:
# find the area of the circle with r = 6
import math
math.pi

3.141592653589793

In [ ]:
r = 6
print('Area is:',math.pi*r**2)

Area is: 113.09733552923255

In [ ]:
# to convert celsius to fahrenhit
#formula = (c*9/5)+32

In [ ]:
a = int(input('Enter the  celsius number: '))
F = (a*9/5)+32
print('celcius to fahrenhit:',(F))

Enter the  celsius number: 40
celcius to fahrenhit: 104.0

In [ ]:
# write a python program to find the quotiend and remainder of two numbers using the division operator/ and the modulo operator %.

In [ ]:
dividend = 10
divisor = 3
quotient = dividend / divisor
remainder = dividend % divisor
print("The quotient is", quotient)
print("The remainder is",remainder)

The quotient is 3.3333333333333335
The remainder is 1

In [ ]:
# write a python program to check whether a given number is even or odd using the modulo operator%.

In [ ]:
number = 20
if number % 2 == 0:
    print("The number is even.")
else:
    print("The given number is odd.")

The number is even.

In [ ]:
# write a python program to calculate the average of three numbers enterd by the user.

In [ ]:
num1 = 20
num2 = 40
num3 = 60
average = (num1 + num2 + num3)/3
print("The average of the three numbers is",average)

The average of the three numbers is 40.0

In [ ]:
# write  a python programe to swap two veriables without using a temporary variable .

In [ ]:
x = 30
y = 40
x = x^y
y = x^y
print("The value of x is",x)
print("The value of y is",y)

The value of x is 54
The value of y is 30

In [ ]:
# writw a python programe to calculate the area of a rectangle with thw given length and breadth.

In [ ]:
length = 10
breadth = 5
area = length*breadth
print("The area of the rectangle is",area)

The area of the rectangle is 50

In [ ]:
# write a python programe to calculate the sum of the digits of a three-digit number.

In [ ]:
num = 479
sum_of_digits = number//100+(number%100)//10+number%10
print("The sum of digits of the number is",sum_of_digits)

The sum of digits of the number is 2

In [ ]:
# write a python programe to check whether a given year is a leap year or not.

In [ ]:
yr=int(input("Enter the year:"))
if yr%4==0 and yr%100 !=0 or yr%400==0:
  print(yr,"is a leap year")
else:
  print(yr,"is not a leap year")

Enter the year:2024
2024 is a leap year

In [ ]:
 # write a python programe to find the maximum and minimum of teo numbers enterd by the user.

In [ ]:
import math
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
if a>b:
  max = a
  min = b
else:
  max = b
  min = a
  print("The maximum of",a,"and",b,"is:",max)
  print("The minimum of",a,"and",b,"is:",min)

Enter the first number:4
Enter the second number:8
The maximum of 4 and 8 is: 8
The minimum of 4 and 8 is: 4